@import "tailwindcss";

@theme {
  --color-gray: #5A5959;
  --color-yellow: #FFEAAE;
  --color-dark-yellow: #FCCA3F;
  --color-orange: #F6820C;
}

body {
  background: radial-gradient(at center, #440138, #061041);
}